		<header>
			<div class="name"><h1>Ryan Scarpelli</h1></div>
			<div class="nav">
				<ul>
					<li><a href="#" alt="home">Home</a></li>
					<li><a href="#" alt="about">About Ryan</a></li>
					<li><a href="#" alt="projects">Projects</a></li>
				</ul>
			</div>
			
			<div class="social">
				<a href="https://twitter.com/ryanscarpelli"><img src="img/twitter.png" height="50px" width="50px"/></a>
				<a href="http://github.com/ryanscarpelli"><img src="img/github.png" height="50px" width="50px"/></a>
			</div>
		</header>
		<body>